.main-content{
    display:flex;
}

.left{
    border-radius: 30px;
    background-color:var(--clr-white);
    min-height:920px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    margin-right: 0.5rem;
}

.right{
    display:flex;
    flex-direction:column;
}